@import "tailwindcss";
@import "../../../crm/frontend/src/crm/styles/globals.css";
@import "../../../crm/frontend/src/crm/styles/messenger-themes.css";
@import "react-datepicker/dist/react-datepicker.css";
